<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%
      var title = 'React Eshop | Easy reusable Eshop in React';
      var description = 'Reusable Eshop app in React, complete with a shopping cart, product catalog, and search.';
    %>
    <title><%= title%></title>
    <meta name=”twitter:title” content="<%= title%>">
    <meta property=og:title” content="<%= title%>">

    <meta name="description" content="<%= description%>">
    <meta name=”twitter:description” content="<%= description%>">
    <meta property=og:description content="<%= description%>">

    <meta name=”twitter:card” content=”summary” />
    <meta property="og:site_name" content="React Eshop" />
    <meta property=og:type content="website">

    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <div id="root"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` in this folder.
      To create a production bundle, use `npm run build`.
    -->
  </body>
</html>
