.ProductDetail-summary {
  font-size: 1.4em;
}

.ProductDetail-description {
  margin-top: 10px;
  font-size: 1.2em;
}

.ProductDetail-price {
  font-size: 2em;
  line-height: 2em;
}

.ProductDetail-about-price {
  color: slategray;
  font-size: 0.8em;
}

.ProductDetail-book-detail,
.ProductDetail-gig-detail {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 10px;
}
